on post-fs-data
    mkdir /data/vendor/.water 02777 system camera
    restorecon /data/vendor/.water

service pri_water /vendor/bin/pri_water
    class late_start
    user root
    group system camera
    oneshot
    disabled

on property:sys.boot_completed=1
    start pri_water
